/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

html {

    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

}

.desktop-main{
    position: relative;
    justify-content: space-between;
    left: 28%;
    height:fit-content;
    width: 72%;

}

/* mobile-nav visibility */

.mobile-wrapper{
    display: none;
}

/* Desktop navigation */

#desktop-navigation{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0; top: 0;
    height: 100%;
    width: 25%; 
    transition: transform ease 0.5s;
}

#desktop-navigation:hover{
    transform: translate(5%);
}

.profile{
    display: block;
    position: relative;
    width: 100%;
    height: 25%;
}

#profilepic{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 30%;
    top: 30%;
    
}

.route{
    position: relative;
    display: grid;
    grid-template-columns: 20% 30%;
    grid-template-rows: 30% 30% 30%;
    justify-items: start;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 25%;
}

.navlinks > img {
    display: block;
}

#home-link {
    width: 40%;
    height: 40%;
    padding: 1vh;
}

#skills-link {
    width: 45%;
    height: 45%;
    padding: 1vh;
}

#portfolio-link {
    width: 40%;
    height: 40%;
    padding: 1vh;
}

#whoamI-link {
    width: 40%;
    height: 40%;
    padding: 1vh;
}

button.route-btn{
    display: block;
    background-color: white;
    padding: 15%;
    border: none;
    shape-margin: 0;
    border-radius: 4px;
    font-size: medium;
    font-weight: 500;
    transition: transform .2s;
}

button.route-btn:hover{
    cursor:pointer;
    background-color: #E6E6E6;
    transform: scale(1.05);
}

.socials{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 60%;
    height: 25%;
    left: 10%;
    list-style-type: none;   
}

.clogo{
    display: block;
    transition: transform .1s;
}

.clogo:hover{
    transform: scale(1.3);
}

#insta{
    display: block;
    width: 30px;
    height: 30px;
}

#github{
    display: block;
    width: 50px;
    height: 50px;
}
#linkedin{
    display: block;
    width: 28px;
}

/* SECTIONS */

#Home{
    position: relative;
    display: flex; 
    flex-direction: column; 
    width: 100%;
    height: 70%;
    margin-bottom: 8rem;
}

/* intro box animation */

#intro-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    width: 75%;
    margin-top: 10%;
    left: 2%;  
    height:30vh;
    border: 2px solid black;
    padding: 5%;
    padding-top: 2vh;
    padding-bottom: 0;
    background-color: #1B2431;
    color: white;
    border-radius: 20px;
}

.line-one{
    position: relative;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 2%;
    font-size: 1.2rem;
    font-family: monospace;
    letter-spacing: 5px;
}
.line-two{
    position: relative;
    width: 100%;
    padding-bottom: 5%;
    font-size: 1.2rem;
    font-family: monospace;
    letter-spacing: 5px;
}

.line-two > .root {
    opacity: 0;
    animation: delay .002s forwards;
    animation-delay: 2.4s;
}

.line-three{
    position: relative;
    width: 100%;
    font-size: 1.2rem;
    font-family: monospace;
    letter-spacing: 5px;
}



.line-three > .root {
    opacity: 0;
    animation:  delay .002s 5.05s forwards,
                cursor .7s 5.05s infinite;
    border-right: 3px solid transparent;
}

@keyframes cursor {
    0%{border-right-color: transparent;}
    100%{border-right-color: white;}
}

.root {
    color: green;
}

@keyframes delay {
    from{opacity: 0;}
    to{opacity: 1;}
}

/* buttons */

.bottom-btns{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 10%;
    margin-top: 3%;
    left: 25%;
}

.download-cv {
    position: relative;
    padding: 3%;
    padding-left: 6%; padding-right: 6%;
    border-radius: 20px;
    border: 2px solid black;    
    background-color: black;
    color: white;
}

.contact-me {
    position: relative;
    padding: 3%;
    padding-left: 7%; padding-right: 7%;
    border-radius: 20px;
    border: 2px solid black;    
    background-color: black;
    color: white;
    margin-left: 20%;
}

.download-cv:hover{
    background-color: white;
    color: black;
}
.contact-me:hover{
    background-color: white;
    color: black;
}

.btm-h2{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 7rem;
    letter-spacing: .4rem;
    right: 2rem;
}

/* the WhoamI section */

#WhoamI{
    position: relative;
    display: block;
    width: 100%;
    height: 110vh;
    font-size: 1.1rem;
}

.block-format{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-bottom: 10vh;
    width: 45%;
    height: 30vh;
    text-align: center;
    font-size: 1.1rem;
    border: 2px solid hsl(0, 0%, 85%);
    border-radius: 1rem;
    left: 45%;
    top: -95vh;
}

.block-format p {
    color: hsl(0, 0%, 50%);
}

.block-format img {
    display: block;
    height: 70px;
    width: 70px;
}

#ambition {
    left: 0;
    top: 0;
    position: relative;
    height: 80vh;
    width: 30%;
}

.block-format h4 {
    margin: 2%;
}

.about-me{
    position: relative;
    width: 80%;
    left: -5%;
    text-align: center;
    padding: 10px;
}

.about-me h1 {
    font-size: 2.2rem;
}

/* Skills section */

#Skills{
    position: relative;
    display: block;
    width: 100%;
    font-size: 1.1rem;
    height: fit-content;
}

.skills-container{
    position: relative;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    height: fit-content;
    margin-left: 10px;
    left: 5%;
}

#Skills span:first-child{
    position: relative;
    width: 80%;
    left: -5%;
    text-align: center;
    padding: 10px;
}

#Skills span:first-child h1 {
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.skill-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    margin: 1rem;
    padding: .4rem;
}

.skill-list span {
    display: block;
    height: 15px;
    border-radius: 4px;
    margin-top: 7px;
}

/* Portfolio Section */

#Portfolio{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 100px;
}

#header{
    position: relative;
    width: 80%;
    left: 0;
    text-align: center;
    padding: 10px;
}

#header h1 {
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 40px;
    margin-left: 17vb;
    margin-top: 20px;
    margin-bottom: 10vh;  /* change this later please */
    background-color: hsl(0, 0%, 95%);
    border-radius: 10px;
}

.filter li {
    display: block;
    padding: 2px;
    padding-left: 4%; padding-right: 4%;
    border-radius: 10px;
    cursor: pointer;
}

.filter > li:hover{
    background-color: gray;
}

.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    margin-left: 2vb;
}

.project-item {
    position: relative;
    display: flex;
    height: 40vh;
    width: 30vb;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5vh;
}